// app global css in SCSS form
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  margin: 0 auto;
  padding: 35px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 10px;
  }
}
